{% extends "layouts/dashboard.html" %}

{% block content %}

<button
  class="uk-button uk-button-primary"
  uk-toggle="target: #action-modal"
  type="button"
  onclick="updateActionModalForm('buy')"
>
  Buy Action
</button>

<h1 class="uk-h4 uk-text-normal uk-text-muted">Actions</h1>

<div class="responsive-table">
  <table class="table">
    <thead>
      <tr>
        <th>Action</th>
        <th class="uk-text-center">Shares</th>
        <th>Price</th>
        <th>Total</th>
        <th aria-label="actions"></th>
      </tr>
    </thead>
    <tbody>
      {% for action in actions %}
      <tr>
        <td>
          <div class="uk-flex uk-flex-middle">
            <div class="uk-background-muted uk-border-rounded uk-padding-small uk-margin-small-right">
              <i
                class="uk-block"
                uk-icon="icon: credit-card; ratio: 1.5;"
                style="width: 24px; height: 24px;"
              ></i>
            </div>

            <div>
              <p class="uk-text-large uk-text-bold uk-margin-remove">
                {{ action.symbol }}
              </p>
              <p class="uk-text-small uk-text-muted uk-margin-remove">
                {{ action.name }}
              </p>
            </div>
          </div>
        </td>

        <td class="uk-text-center">
          {{ action.shares }}
        </td>

        <td>
          {{ action.price | usd }}
        </td>

        <td class="uk-text-bold">
          {{ action.total | usd }}
        </td>
        
        <td>
          <button
            class="uk-button uk-button-primary-outlined"
            uk-toggle="target: #action-modal;"
            onclick="updateActionModalForm('sell', '{{ action.symbol }}', '{{ action.shares }}')"
          >
            Sell
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="action-modal" uk-modal="esc-close: false; bg-close: false;">
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body form-small">
      <button class="uk-modal-close-default" type="button" uk-close></button>

      <!-- i.e. Sell Action -->
      <h2 class="uk-modal-title"></h2>

      <div id="action-modal-alert" class="uk-alert-danger uk-hidden" uk-alert></div>

      <form id="action-modal-form" method="POST">
        <label class="uk-display-block">
          <span class="uk-form-label">Symbol</span>
          <input
            type="text"
            required
            name="symbol"
            placeholder="i.e. MSFT"
            class="uk-input"
          />
        </label>

        <label class="uk-display-block uk-margin">
          <span class="uk-form-label">Shares</span>
          <input
            type="number"
            min="1"
            name="shares"
            placeholder="i.e. 5"
            class="uk-input"
          />
        </label>

        <button
          type="submit"
          class="uk-button uk-button-primary uk-width-1-1"
        >
          <div class="uk-margin-right-small uk-hidden" uk-spinner="ratio: 0.75;"></div>
          <span class="submit-content"></span>
        </button>
      </form>
    </div>
</div>

<script src="/static/scripts/custom/helpers.js"></script>
<script src="/static/scripts/custom/action-modal.js"></script>

{% endblock %}