{% extends "layouts/default.html" %}

{%block head %}
<link rel="stylesheet" href="/static/styles/pages/signin.css" type="text/css" />
{% endblock %}

{% block body %}

<form action="" method="POST" class="uk-padding form-small">
  <h1 class="logo uk-text-center">
    CS50<span class="logo__trailing">.Finance</span>
  </h1>

  {% with errors = get_flashed_messages(category_filter=['error']) %}
    {% if errors %}
      <div class="uk-alert-danger" uk-alert>
        <ul class="uk-margin-remove uk-list">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        <a href="javascript:void(0);" class="uk-alert-close" uk-close></a>
      </div>
    {% endif %}
  {% endwith %}
  
  <div class="uk-flex uk-flex-column">
    <label class="uk-margin-small">
      <span class="uk-form-label">E-mail</span>
      <input
        class="uk-input"
        type="email"
        name="email"
        required
        minlength="3"
        maxlength="64"
        placeholder="i.e. john@mail.com"
        value="{{form.email.data}}"
      />
      {% if 'email' in form.errors %}
        <small class="uk-text-danger">
          {{form.errors['email'][0]}}
        </small>
      {% endif %}
    </label>
  
    <label class="uk-margin-small">
      <span class="uk-form-label">Password</span>
      <input
        class="uk-input"
        type="password"
        name="password"
        required
        maxlength="32"
      />
      
      {% if 'password' in form.errors %}
        <small class="uk-text-danger">
          {{form.errors['password'][0]}}
        </small>
      {% endif %}
    </label>
  
    <input class="uk-button uk-button-primary" type="submit" value="Login" />
  </div>

  <p class="uk-text-center">
    <a href="/sign-up">Create an account</a>
  </p>
</form>

{% endblock %}